<div class="row" id="user-sidebar">
  <div class="col-md-4">
    <%= render 'profiles/sidebar' %>
  </div> <!-- /.col-md-4 -->

  <div class="col-md-8">
    <div class="row">
      <%= render partial: 'user_basic', locals: { user: @profile.user } %>
    </div>

    <div class="row">
      <%= render 'form' %>
    </div>

    <div class="row space-top">
      <%= render partial: 'concerts/list', locals: { profile: @profile, concerts: @profile.user.concerts.by_show_date.by_show_time } %>
    </div>
  </div> <!-- /.col-md-8 -->
</div>
