<div class="row" id="user-sidebar">
  <div class="col-md-4">
    <%= render 'profiles/sidebar' %>     
  </div> <!-- /.col-md-5 -->

  <div class="col-md-8">
    <div class="row">
      <%= render partial: 'user_basic', locals: { user: @user } %>
    </div>

    <div class="row">
      <%= render 'form' %>
    </div>
  </div> <!-- /.col-md-8 -->
</div>
