<% @title = "Musicians | Discover new music" %>
<div id="concert-list" class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="page-header">
      <h2 class="text-center">Concerts</h2>
    </div>
    <%= render 'concerts', { concerts: Concert.all } %>
  </div>
</div>
