<div class="jumbotron">
  <h1><i class="fa fa-bluetooth"></i> Music App</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor mollit anim id est laborum.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<%= render partial: 'genres/list' %>

<section id="all-tags">
  <h2>All Tags</h2>
  <%= render partial: 'tags/list', locals: { tags: visibile_tags } %>
</section>

<%= render partial: 'concerts/search', locals: { concerts: @concerts } %>
