<section id="main-page">
  <div style="border-top: 5px solid #607D8B;">
    <%= render partial: 'genres/list' %>

    <h2><small><i class="fa fa-tag" aria-hidden="true"></i>
    </small> Tags</h2>
    <%= render partial: 'tags/list', locals: { tags: visibile_tags } %>
  </div>

  <div class="space-top" style="border-top: 5px solid #607D8B;">
    <%= render partial: 'concerts/search', locals: { concerts: @concerts } %>
  </div>
</section>
