<% @title = "Musicians | Discover new music" %>
<div id="musician-list" class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="page-header">
      <h2 class="text-center">Musicians</h2>
    </div>
    <div class="text-right">
      <small><i class="fa fa-music" aria-hidden="true"></i> Number of concerts </small>
    </div>
    <div class="space-top-sm">
      <table class="table">
        <% visible_profiles.each do |profile| %>
          <tr>
            <td class="text-right">
              <% if profile.avatar? %>
                <%= image_tag(profile.avatar.sm.url, id: 'photo') %>
              <% else %>
                <%= image_tag("/fallback/default_sm.png", id: 'photo') %>
              <% end %>
            </td>
            <td><%= link_to profile.user.username, [profile.user, profile] %></td>
            <td><i class="fa fa-heart" aria-hidden="true"></i> #</td>
            <td><i class="fa fa-music" aria-hidden="true"></i> <%= profile.user.concerts.count %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
