<% @title = "Musicians | Discover new music" %>
<div id="musician-list" class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="page-header">
      <h2 class="text-center">Musicians</h2>
    </div>
    <div class="text-right" style="color: #7C8792;">
      <small><i class="fa fa-music" aria-hidden="true"></i> concerts </small> |
      <small><i class="fa fa-bookmark" aria-hidden="true"></i> bookmarks </small>
    </div>
    <%= render 'musicians', { profiles: visible_profiles } %>
  </div>
</div>
