<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table">
      <tr>
        <th>Title</th>
        <th>Musician</th>
        <th>Select</th>
      </tr>
      <% @profiles.each do |profile| %>
        <tr>
          <td>Song</td>
          <td><%= link_to profile.user.username, [profile.user, profile] %></td>
          <td><i class="fa fa-check"></i></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
