<% if songs.any? %>
    <% songs.each do |song| %>
      <div class="row soundcloud">
        <%= raw premium_soundcloud(song.song_url) %>
        <div class="pull-right">
          <% if premium_or_admin?(@user) %>
            <%= link_to edit_user_song_path(song.user, song) do %>
              <i class="fa fa-pencil-square-o fa-lg"></i>
            <% end %>
            <%= link_to [song.user, song], method: :delete, data: { confirm: 'Are you sure to delete this concert information?' } do %>
              <i class="fa fa-trash-o fa-lg"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
<% else %>
  Coming up soon...
<% end %>
