<section>
  <div class="row" id="user-sidebar">
    <div class="col-md-4">
      <%= render 'profiles/sidebar' %>       
    </div> <!-- /.col-md-4 -->

    <div class="col-md-8">
      <div class="row">
        <h3 class="space-top">Edit Song</h3>
        <p>Upload your favorite songs from Soundcloud.</p>
        <%= render 'form' %>
      </div>
    </div> <!-- /.col-md-8 -->
  </div>
</section>
