<% @title = "#{@user.username} | Upload My Music" %>
<section>
  <div id="user-sidebar" class="row">
    <div class="col-md-4">
      <%= render 'profiles/sidebar' %>
    </div> <!-- /.col-md-4 -->

    <div class="col-md-8">
      <h3 class="inlined">Song List</h3>
      <% if premium_or_admin?(@user) %>
        <%= link_to new_user_song_path(@user), class: 'btn-sm btn-primary margin-left-xs' do %>
          <i class="fa fa-plus"></i> Add
        <% end %>
      <% end %>

      <div class="space-top-sm">
        <%= render 'list', { songs: @songs } %>
      </div>
    </div> <!-- /.col-md-8 -->
  </div>
</section>
