<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="page-header">
      <h3 class="text-center">Edit Concert</h3>
    </div>

    <%= render 'form' %>

    <div class="pull-left">
      <%= link_to 'Back', [@concert.user, @concert], class: 'btn btn-default' %>
    </div>
  </div>
</div>
