<% @title = "#{@user.username} | Saved Concerts" %>
<div class="row" id="user-sidebar">
  <div class="col-md-4">
    <%= render 'profiles/sidebar' %>
  </div> <!-- /.col-md-4 -->

  <div class="col-md-8 space-top">
    <div class="text-right" style="color: #7C8792; margin-bottom: 10px;">
      <small><i class="fa fa-bookmark" aria-hidden="true"></i> bookmarks </small>
    </div>
    <% if @concerts.any? %>
      <p class="text-faded">List of concerts that you saved.</p>
      <%= render 'welcome/concerts', { concerts: @concerts } %>
    <% else %>
      <p>No saved concerts...</p>
      <p>Click <%= link_to "here", concert_list_path %> to check out concerts.</p>
    <% end %>
  </div> <!-- /.col-md-8 -->
</div>
