/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootswatch/superhero/variables';
@import 'bootstrap';
body { padding-top: 20px; }
@import 'bootswatch/superhero/bootswatch';

@import 'font-awesome';

// Override bootstrap
.btn {
  border-radius: 7px;
}
.dropdown-menu .divider {
  background-color: #4E5D6C;
}

// Custom Style
.line-divider {
  margin-top: 40px;
  border-top: 1px solid #4E5D6C;
}

.space-top {
  margin-top: 30px;
}


// Global Style
footer {
  margin: 50px auto;
}
