/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootswatch/superhero/variables';
@import 'bootstrap';
@import 'bootswatch/superhero/bootswatch';

@import 'font-awesome';

// Override bootstrap
.icon-bar {
  background-color: #DF691A;
}
.btn {
  border-radius: 7px;
}
.dropdown-menu .divider {
  background-color: #465463;
}
.dropdown-menu > li > a {
  font-size: 13px;
}
.list-group-item {
  background-color: transparent;
}
.list-group-item.active {
  color: #DF691A;
  background-color: transparent;
}
.navbar {
  font-size: 16px;
}
body > .container {
  margin-top: 20px;
}
h1, h2, h3 {
    margin-top: 10.5px;
    margin-bottom: 10.5px;
}
table, .table {
  font-size: 15px;
}
body {
  font-size: 16px;
}
a, table a:not(.btn), .table a:not(.btn) {
  text-decoration: none;
  color: #DF691A;
}
a:hover, a:focus, table a:not(.btn):hover, .table a:not(.btn):focus {
  text-decoration: none;
  color: #FF6600;
}
.table .fa-trash-o {
  margin-left: 10px;
}

// Custom Style
.line-divider {
  margin-top: 40px;
  border-top: 1px solid #4E5D6C;
}
.space-top {
  margin-top: 50px;
}
.list-style-none {
  list-style: none;
}
.margin-left-sm {
  margin-left: 10px;
}


// Global Style
footer {
  margin: 50px auto;
}
#user-profile {
  .list-group {
    margin-top: 50px;
  }
}
.social-btn {
  i {
    padding-left: 10px;
  }
}
.nav {
  #photo {
    display: inline-block;
    float: left;
  }
}
.gm-style-iw {
  color: #000;
}
