// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.favorite-empty {
  color: #fff;
  padding: 5px 10px;
}
.favorite-empty:hover {
  color: #fff;
}
.favorite-full {
  padding: 5px 10px;
}
