// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-btn {
  i {
    padding-left: 10px;
  }
}

.pre-style {
  overflow: visible;
  white-space: pre-wrap;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  border: none;
}
